

p {
    color: var(--secondary-text-color);
    font-size: clamp(1rem, 1.5vw, 2rem);
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

li {
    color: var(--secondary-text-color);
}


.projectTitle {
    color: var(--primary-text-color);
}

/* .homeContainer {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: left;
    gap: 10rem;
} */

.profileContainer {
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills {
    margin: 0;
    margin-bottom: 0.5rem;
}

.headshot {
    height: auto;
    max-width: 100%; 
    width: 80%;
    margin-bottom: 1rem;
    object-fit:cover;
    border: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: rgb(88, 121, 93);

    box-shadow: 2px 2px 5px 1px rgb(3, 24, 2);
}

.contentCard {
    background-color: var(--primary-content-card-background-color);
    padding: 4dvw;
    border-radius: 3px;
    width: 70dvw;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    align-items: left;
    /* justify-content: center; */
    /* gap: 2rem; */

    box-shadow: var(--content-card-shadow);
}

.cardHeader {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: left;
    width: 100%;
    /* gap: 5rem; */
}

.headShotContainer {
    width: 40%;
    display: block;
    margin: 0;
    padding: 0;
}
.contactLinks {
    width: 10px;
}




@media (max-width: 915px) {
    .homeContainer {
        gap: 2rem;
    }
}

@media (max-width: 715px) {


    .headshot {
        width: 100%;
    }

    .headShotContainer{
        width: 50%;
    }

    .cardHeader {
        flex-direction: row;
        align-items: left;
        gap: 2rem;
    }

    .profileContainer {
        flex-direction: column;
    }

    .contentCard {
        flex-direction: column;
        justify-content: center;
        align-items: left;
        width: 80dvw;
        /* gap: 2rem; */
    }

    ul {
        width: 60dvw;
    }
}

