

p {
    color: var(--secondary-text-color);
    font-size: clamp(1rem, 1.5vw, 2rem);
}

li {
    color: var(--secondary-text-color);
}


.projectTitle {
    color: var(--primary-text-color);
}

.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: left;
    gap: 10rem;
}

.profileContainer {
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headshot {
    height: auto;
    max-width: 100%; 
    width: 50%;
    margin: 1rem;
    object-fit:cover;

    box-shadow: 2px 2px 5px 1px rgb(3, 24, 2);
}

.contentCard {
    background-color: var(--primary-content-card-background-color);
    padding: 10px;
    border-radius: 2px;
    width: 70dvw;

    display: flex;
    flex-direction: column;
    align-items: left;
    /* justify-content: center; */
    /* gap: 2rem; */

    box-shadow: var(--content-card-shadow);
}

.cardHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
}

@media (max-width: 915px) {
    .homeContainer {
        gap: 2rem;
    }
}

@media (max-width: 715px) {

    .headshot {
        display: none;
    }

    .homeContainer{
        justify-content: center;
        flex-direction: column;
    }

    .profileContainer {
        flex-direction: column;
    }

    .contentCard {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80dvw;
        gap: 2rem;
    }

    ul {
        width: 60dvw;
    }
}

/* @media (max-width: 480px) {
    .homeContainer{
        justify-content: center;
        flex-direction: column;
    }

    .profileContainer {
        flex-direction: column;
    }

    .contentCard {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80dvw;
        gap: 2rem;
    }

    ul {
        width: 60dvw;
    }

} */