:root {
    --primary-text-color: rgb(234, 234, 234);
    --secondary-text-color: rgb(202, 202, 202);
    --tertiary-text-color: rgb(160, 185, 160);

    --primary-content-card-background-color: rgb(22, 52, 24);
    --content-card-shadow: 2px 2px 6px 2px rgb(6, 33, 11);

    --primary-background-color: rgb(22, 51, 25);
    --secondary-background-color: rgb(15, 35, 17);


}

html, body {
    padding: 0;
    margin: 0;
}

html, body {
    background-color: rgb(22, 51, 25);
    background-image: linear-gradient(to bottom, rgb(22, 51, 25), rgb(15, 35, 17));
}

h1 {
    color: var(--primary-text-color);
    
}

h2 {
    color: var(--tertiary-text-color);
    font-size: clamp(1rem, 2.5vw, 5rem);
    margin: 0;
    margin-bottom: clamp(2rem, 0.5vh, 3rem);
}   

h3 {
    color: var(--primary-text-color);
    font-size: clamp(1rem, 1rem + 1dvw, 2rem);
    margin-bottom: 1rem;
}

h4 {
    color: var(--tertiary-text-color);
    font-size: clamp(0.8rem, 0.8rem + 1dvw, 1.5rem);
    margin: 0;
}

p {
    color: var(--secondary-text-color);
    font-size: clamp(1rem, 1.5vw, 2rem);
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

hr {
    padding: 0;
    width: 98%;
    margin: 0;
    color: var(--primary-text-color);
}

.navBar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-image: linear-gradient(to top, var(--primary-background-color), var(--secondary-background-color)); */
}

.navElements {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    font-size: 1rem;
}
