:root {
    --primary-text-color: rgb(234, 234, 234);
    --secondary-text-color: rgb(202, 202, 202);
    --primary-content-card-background-color: rgb(7, 44, 7);
    --content-card-shadow: 2px 2px 6px 2px rgb(6, 33, 11);
    --primary-background-color: rgb(22, 51, 25);
    --secondary-background-color: rgb(6, 44, 6);
}

html , body {
    padding: 0;
    margin: 0;
}

html, body {
    background-color: rgb(22, 51, 25);
}

h1 {
    color: var(--primary-text-color);
    
}

h2 {
    color: var(--primary-text-color);
    font-size: clamp(1rem, 1rem + 1dvw, 2rem);
}

h3 {
    color: var(--primary-text-color);
}
p {
    color: var(--secondary-text-color);
    font-size: clamp(1rem, 1.5vw, 2rem);
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

hr {
    width: 95%;
    margin-top: 1.5rem;
    color: var(--primary-text-color);
}

.navBar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to top, var(--primary-background-color), var(--secondary-background-color));
}

.navElements {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    font-size: 1rem;
}
