

/* h2 {
    font-size: clamp(2rem, 2vw, 3rem);
} */


.portfolioContentContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: baseline;
    gap: 2rem;
}

.projectCard {
    /* background-color: var(--primary-content-card-background-color); */
    border-radius: 2px;
    margin: clamp(1rem, 1vh, 2rem) 0;

    width: 70dvw;

    display: flex;
    flex-direction: column;
    align-items: left;

    /* box-shadow: var(--content-card-shadow); */

    --img-shadow: 2px 2px 5px 1px rgb(3, 24, 2);
    --img-margin-botton: clamp(1rem, 1vh, 2rem);

}

.imgLink {
    margin: 0;
    padding: 0;
    width: 100%;
}

.portfolioImg {
    width: 50%;
    margin-bottom: var(--img-margin-botton);
    margin-left: 1rem;
    box-shadow: var(--img-shadow);
    transition: transform 0.2s;
    float: right;
}

    .portfolioImg:hover {
        transform: scale(1.05);
    }

.projectDescription {
    width: 50%;
}


.projectContent {
    height: auto;
}

.techstack {
    color: rgb(147, 163, 150);
    font-style: italic;
}

@media (max-width: 715px) {
    .projectCard {
        width: 80dvw;
    }

    .portfolioImg {
        width: 60%;
        margin: 0;
        margin-left: 0.6rem;
        float: right;
    }
}