:root {
    --primary-text-color: rgb(234, 234, 234);
    --secondary-text-color: rgb(202, 202, 202);
    --primary-content-card-background-color: rgb(7, 44, 7);
}

html , body {
    padding: 0;
    margin: 0;
}

html, body {
    background-color: rgb(22, 51, 25);
}

h1 {
    color: var(--primary-text-color);
}

h2 {
    color: var(--primary-text-color);
}

h3 {
    color: var(--primary-text-color);
}
p {
    color: var(--secondary-text-color);
}

a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

hr {
    width: 95%;
    margin-top: 1.5rem;
    color: var(--primary-text-color);
}

.navBar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navElements {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    font-size: 1rem;
}
